@import 'colours';

@import '_option-select';


// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';


// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.phase-banner-alpha  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.phase-tag-alpha {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}


.head-container {
    margin: 0 0 0 0;
    background-color: #005ea5;
    padding: 15px 15px 30px 15px;
    color: #fff;
    min-height: 225px;
    width: 100%;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

// Related links
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.related-links {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
  }
}


.search {
  display: inline-block;
    margin: -80px 0 35px 0;
}

.search button {
  display: inline-block;
    background-size: 52.5px 40px;
    background-position: 115% 50%;
}


.search button {
    width: 38px;
    height: 38px;
    border: 1px solid #0b0c0c;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: #fff;
    background: #0b0c0c url(https://assets.digital.cabinet-office.gov.uk/manuals-frontend/search-button-4d67fecb1b50e27865977626e367ac67.png) no-repeat 0 50%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search #search-box {
    width: 56%;
    border: 0px solid white;
    padding: 6px;
}

.search label {
    padding-bottom: 5px;
    display: inline-block;
  }

  .topic-list ul li {
    font-size: 24px!important;
    font-weight: bold;
    margin-bottom: 15px;
    }

  .topic-list a {
    text-decoration: none;
  }

  .services-list ul li {
    font-size: 24px!important;
    font-weight: bold;
    margin-bottom: 15px;
    }

  .services-list a {
    text-decoration: none;
  }

    .topic-list-b a {
      text-decoration: none;
      color: white;
    }

    .topic-list-b ul li {
      font-size: 19px!important;
      margin-bottom: 15px;
    }




.content-wrapper {
  overflow: auto;
}

.content-title {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  clear: left;
  margin-right: 20px;
}

.content-title a {
  text-decoration: none;
}

.content-body {
  vertical-align: top;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 60%;
}

.content-body p {
  font-size: 22px;
}

.content-body a {
  text-decoration: none;
}

.content-body li {
  font-size: 22px;
  line-height: 200%;
}


.js-enabled .govuk-option-select {
 padding: 0 5px 5px 5px;
 margin: 30px 0 30px 0;
}

  .govuk-option-select .filter-field-text {
    @include core-16;
    @include box-sizing(border-box);
    width: 100%;
    padding: 5px;
    border: 1px solid $border-colour;
  }

  .index-list {
    font-size: 24px;
  }

  .index-list li {
    margin-bottom: 10px;
  }

.flag-services {
  margin-top: 32px;
  font-size: 50px;
  line-height: 120%;
}

.flag-services a {
  text-decoration: underline;
}

//Show siblings on 3rd level//

.sibling-container {
	overflow: visible;
}


.s-left {
  width: 60%;
  float: left;
}

.s-right {
  margin-top: -50px;
  float: right;
  width: 33%;
  padding: 24px;
  overflow: visible !important;
}

.td-none {
  text-decoration: none;

}
.s-right a {
  font-size: 19px;
  text-decoration: none;
}

.s-right li {
  margin-bottom: 15px;
  text-align: left;
}

.sibling-content {
  float: left;
  width: 50%;
  margin-left: 40px;
  background: white;
  margin-top: -40px;
}

.sibling-content-2 {
  float: left;
  width: 50%;
  margin-left: 0;
  background: white;
  margin-top: 0;
}


.sibling-content-3 {
  float: left;
  width: 66%;
  margin-left: 0;
  background: white;
}

.sibling-content-4 {
  margin-top: -45px;
  float: left;
  width: 66%;
  margin-left: 0;
  background: white;
}

.sibling-block-rhs {
  float: right;
  margin: 0px  30px 0 0px;
  width: 25%;
  height: 600px;
  border-left: 2px solid $grey-3;
}

.sibling-block-top {
  margin: 0px  0px 10px 0px;
  padding: 0px 5px 0 0;
  width: 100%;
  border-bottom: 0px solid $grey-3;
  overflow: auto;

}



.sibling-block-top-sec {
  float: left;
  width: 30%;
  margin-right: 3%;
  font-size: 120%;
}

.show-all {
  display: inline-block;
  background: $grey-3;
  padding: 10px 20px 10px 20px;
}

.show-all a {
  font-weight: normal;
  text-decoration: none;
}

.views-block {
  display: inline-block;
  width: 100%;
  margin: 10px 0px 50px 0;
  padding-bottom: 0px;
  border-bottom: 3px solid $grey-3;
}

.views-block li {
 margin-right: 45px;
 padding-bottom: 10px;
 font-size: 24px;
 text-decoration: none;
 display: inline-block;

}

.views-block a {
  text-decoration: none;
}



.sib {
  padding: 5px;
}

.sibling-block-top-sec a {
text-decoration: none;
}

.sibling-block-top-sec-2 a {
text-decoration: none;
}

.sibling-block-top-sec-2 li {
  padding: 0px 30px 20px 0px;
}



.sibling-block-top-sec li {
  padding: 0px 30px 12px 0px;
}


.sibling-block-rhs li {
  padding: 0px 30px 8px 15px;
}

.sibling-block-rhs a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 15px 15px;
  line-height: 1.14286;
  position: relative;
}

.sibling-block-rhs ul a:after {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 10px;
  float: right;
  /*
    content: "\203A";
    */
}

.sibling-block {
  float: left;
  margin: 0px  30px 0 0px;
  width: 25%;
  height: 600px;
  border-right: 2px solid $grey-3;
}

.sibling-block-2 {
  position: relative;
  z-index: 500;
  float: left;
  margin-left: -160px;
  margin-top: -55px;
  width: 26%;
  height: 650px;
  background: white;
  padding: 10px;
  border-right: 2px solid $grey-3;
  border-left: 2px solid $grey-3;
}

.sibling-block li {
  padding: 0px 30px 8px 15px;
}

.sibling-block a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 15px 15px;
  line-height: 1.14286;
  position: relative;
}

.sibling-block ul a:after {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 10px;
  float: right;
    content: "\203A";
}

.sibling-block-2 li {
  padding: 12px 30px 8px 15px;
  display: block;
  width: 100%;
}

.sibling-block-2 a {
  text-decoration: none;
  display: block;
  padding: 12px 30px 8px 20px;
  line-height: 1.14286;
  position: relative;
  margin-left: -20px;
  margin-right: 8px;
}

.sibling-block-2 a:hover {
  background: #dee0e2;
  color: #005ea5;
}

.sibling-block-2 ul a:after {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-right: 12px;
  right: 12px;
  float: right;
    content: "\203A";
}



.sibling-block ul li.active a, ul li.active a {
  display: inline-block;
  padding: 12px 30px 8px 20px;
    background: #005ea5;
    color: #fff;
    text-decoration: none;
}

.sibling-block-2 ul li.active a, ul li.active a {
  position: relative;
  display: block;
  padding: 12px 30px 8px 15px;
  margin-left: -22px;
  margin-right: 7px;
  border-left: 15px solid #005ea5;
    background: #005ea5;
    color: #fff;
    text-decoration: none;
}


.popular-list {
margin-left: 200px;
}

.links-block {
  margin-top: -150px;
  margin-right: -400px;
  padding: 20px;
  width: 400px;
  float: right;
  display: block;
}


.links-block a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.block-title {
  margin-left: 20px;
}

.preamble {
  width: 88%;
 margin: 10px 0 50px 0;
}

.pub-list {
  margin-top: -26px;
}

.pub-list li {
  border-bottom: 1px solid $grey-3;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}
.pub-list a {
  text-decoration: none;
}
.meta {
font-weight: normal;
  font-size: 16px;
}
.pub-subscribe {
  padding-bottom: 20px;
  font-size: 130%;
}


.childcare-content {
  background: $grey-3;
}


.search-header {
    padding: 20px 0 30px;
    width: 90%;
    display: inline-block;
}


.search-header input {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border-color: #bfc1c3;
    border-right: none;
    line-height: 48px !important;
    display: inline-block;

}

.search-header button {
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-0ae3883c51ecbc0e0c43a3bf60d67bce3a010c7a33334731dad0ba12e1f48295.png);
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
    display: inline-block;
    position: relative;
}
.search-header .search-submit {
  display: inline-block;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
}

.feature {
  font-size: 26px;
}

.feature a {
  text-decoration: none;
}

.selected {
  background: $grey-3;
  padding: 11px;
}

.deselected {
  padding: 11px;
}

.whole-crumb {
  margin-top: 60px;
  border-top: 2px solid $grey-3;
}

.footer-crumb {
  padding: 10px 0 10px 30px;
  display: inline-block;
  width: 100%;
}

.crumb-label {
  display: inline-block;
  width: 30%;
  float: left;
  margin-top: 40px;
}

.crumb-content {
  width: 60%;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: -40px;
}



.footer-crumb-2 {
  margin-left: 50px;
}
.content-title h2 {
  border-bottom: 0px solid $grey-2;
}
