{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="index">Education</a></li>
      <li>Childcare and early years</li>
      <li>Childminders</li>

    </ol>
  </div>

  <div class="sibling-block">
    <ul>
      <li class="active"><a href="#">Childminders</a></li>
      <li><a href="#">Nurseries</a></li>
      <li><a href="#">Children's centres</a></li>
      <li><a href="#">Good practice</a></li>
    </ul>
  </div>

<h1 class="heading-xlarge">Childminders</h1>


<h2 class="heading-large">Topics</h2>

<div class="topic-list">
<ul>

<li><a href="#">Childminder agencies and changes to the local authority role</a></li>
<li><a href="#">Childminder agencies: a step-by-step guide</a></li>
<li><a href="#">Childminder agency trial evaluation</a></li>
<li><a href="#">Childminder choice has never been better thanks to first agency</a></li>
<li><a href="#">Complain about a school or childminder</a></li>
<li><a href="#">Find a registered childminder</a></li>
<li><a href="#">Letter to childminders in England from Elizabeth Truss</a></li>
<li><a href="#">Study of early education and development: childminder provision</a></li>
</ul>
</div>

</main>

{{/content}}

{{/layout}}
