{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a>
      </li>
      <li><a href="education">Education</a>
      </li>
      <li>Childcare and early years</li>
    </ol>
  </div>

  <h1 class="heading-xlarge"></h1>

  <div class="sibling-container">

    <!-- <div class="s-left">-->
      <h2 class="heading-xlarge">Childcare and early years</h2>
      <div class="preamble">
        <p><span class="font-medium">Find services for childcare, and read guidance, policies and other publications</span>
      </div>

      <div class="search-header">
        <div class="searchfield">
          <input type="search" name="q" value="" id="search-main">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
     <!--
    <div class="s-right">
      <ul>
        <li><a href="early-years-settings">Early years settings</a> </li>
        <li><a href="nurseries">Early years foundation stage (EYFS) </a> </li>
        <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a> </li>
        <li><a href="#">Training for early years staff</a> </li>
        <li><a href="nurseries">Inspections </a> </li>
        <li><a href="childrenscentres">Early years pupil premium </a> </li>
        <li><a href="nurseries">Childcare costs  </a> </li>
        <li><a href="childrenscentres">Funding</a> </li>
      </ul>
    </div>
  -->
  </div>
  <div class="views-block">
    <ul>
      <li class="selected">Guidance</li>
      <li class="deselected"><a href="childcare-and-early-years?section=detailed">Detailed guidance</a></li>
      <li class="deselected"><a href="childcare-and-early-years?section=policy">Policy</a></li>
      <li class="deselected"><a href="childcare-and-early-years?section=publications">All content</a></li>
    </ul>
  </div>

  <div class="content-wrapper feature">
    {{#taggedItems}}
      <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
    {{/taggedItems}}
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">
        Early years settings
      </h2>
    </div>

    <div class="content-body">
      <p><a href="#">Find a registered childminder</a></p>
      <p><a href="#">Search Ofsted registered providers and inspection reports</a></p>
      <p><a href="#">Guidance for childminding</a></p>
      <p class="show-all"><a href="early_years-settings">View more</a></p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">
        Early years foundation stage (EYS)
      </h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">Special educational needs and disabilities (SEND)</h2>
    </div>

    <div class="content-body">
      <p><a href="#">Find a Sure Start children's centre</a> </p>
      <p><a href="#">Sure Start maternity grant</a> </p>
      <p><a href="#">Complain about a school or childminder</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">Training for early years staff</h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium"> Inspections</a></h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium"> Early years pupil premium</a></h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">Early years foundation stage (EYS)</a></h2>
    </div>

    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">Childcare costs</a></h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-title">
      <h2 class="heading-medium">Funding</a></h2>
    </div>
    <div class="content-body">
      <p><a href="#">Find a nursery</a> </p>
      <p><a href="#">Enrol a child</a> </p>
      <p><a href="#">Guidance for nurseries</a> </p>
      <p class="show-all"><a href="#">View more</a> </p>
    </div>
  </div>


  <div class="whole-crumb">
    <div class="footer-crumb">
      <div class="crumb-label"><p class="font-medium"></div>
      <div class="crumb-content">  <p class="font-medium"> <p class="heading-large">Childcare and Early Years</p></div>
    </div>

    <div class="footer-crumb">
      <div class="crumb-label"><p class="font-medium">Part of: </div>
      <div class="crumb-content">  <a href="education"><p class="heading-medium">Education</p></a></div>
    </div>
    <div class="footer-crumb">
      <div class="crumb-label"><p class="font-medium">Top organisations publishing to this topic:</p></div>
      <div class="crumb-content"> <p class="heading-medium">Ofsted</p></div>
    </div>

    <div class="footer-crumb">
      <div class="crumb-label"><p class="font-medium">Part of: </div>
      <div class="crumb-content">  <a href="education"><p class="heading-medium">Education</p></a></div>
    </div>
  </div>



</div>

  </div>
</main>

{{/content}}

{{/layout}}
