{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>

    </ol>
  </div>


  <h1 class="heading-xlarge"></h1>


<div class="sibling-container">


<span class="font-small"><a href="childcare-and-early-years_v3">&#139;	 Back to Education</a></span>

  <h2 class="heading-xlarge">Childcare and early years</h2>

  <div class="preamble">
  <p><span class="font-large">Find services for childcare, and read guidance, policies and other publications</span>

<!--    <p class="font-medium">Filter content: <a href="childminders_v3">Childminders</a>, <a href="#">Nurseries</a>, <a href="#">Children's centres</a></p>
</p>-->
  </div>


    <div class="sibling-block-top">
      <div class="sibling-block-top-sec">
      <ul>
        <li><a href="early-years-settings_v3">Early years settings</a></li>
        <li><a href="nurseries">Early years foundation stage (EYFS) </a></li>
        <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a></li>
      </ul>
    </div>
        <div class="sibling-block-top-sec">
          <ul>
        <li><a href="#">Training for early years staff</a></li>
        <li><a href="nurseries">Inspections </a></li>
        <li><a href="childrenscentres">Early years pupil premium </a></li>
      </ul>
    </div>
    <div class="sibling-block-top-sec">
      <ul>
        <li><a href="nurseries">Childcare costs  </a></li>
        <li><a href="childrenscentres">Funding</a></li>
      </ul>
    </div>
  </div>


</br></br>

<div class="views-block">
  <ul>
    <li><a href="childcare-and-early-years_v3">Guidance and services</a></li>
    <li><span class="childcare-and-early-years_v3_detailed">Detailed guidance</span></li>
    <li><span class="heading-medium">Policy</a></li>
    <li><a href="childminders_v3_publications">Recent publications (3)</a></li>
</div>

<div class="content-wrapper">
  <div class="content-title">
    <h2 class="heading-large">Childcare</h2>
</div>
<div class="content-body">
  <ul>
  <li><a href="#">Funded early education choice framework</a></li>
  <li><a href="#">Early years inspection handbook from September 2015</a></li>
  <li><a href="#">Early years compliance handbook</a></li>
  <li><a href="#"><a href="#">Dedicated schools grant (DSG) 2014 to 2015</a></li>
  <li><a href="#">Early education entitlement for 2-year-olds: hourly rates</a></li>
  <li><a href="#">Early years benchmarking tool</a></li>
  <li><a href="#">LA allocations for early learning for 2-year-olds: 2014 to 2015</a></li>
  <li><a href="#">Early education and childcare</a></li>
  <li><a href="#">Early years outcomes</a></li>
  <li><a href="#">Sure Start, childcare and disabled children: capital grants</a></li>
  <li><a href="#">Work with parents: National Occupational Standards</a></li>
  </ul>
</div>
</div>




Childcare and early years providers survey: 2010
Statistics
Childcare and early years providers survey: 2011
Statistics
Childcare and early years providers survey: 2013
Statistics
Childcare and early years survey of parents: 2010
Statistics
Childcare and early years survey of parents: 2011
Statistics
Childcare and early years survey of parents: 2012 to 2013
Statistics
Provision for children under 5 years of age in England: January 2010
Statistics - national statistics
Provision for children under 5 years of age in England: January 2012
Statistics
Provision for children under 5 years of age in England: January 2013
Statistics - national statistics
Provision for children under 5 years of age: January 2014
Statistics - national statistics
Provision for children under 5 years of age: January 2015
Statistics - national statistics
Provision for children under five years of age in England: January 2011
Statistics - national statistics
Early education and childcare: research priorities and questions
Research and analysis
The early years foundation stage (Tickell review): report on the evidence
Independent report
The early years: foundations for life, health and learning - Tickell review
Independent report
Nutbrown review: foundations for quality
Independent report
Review of early education and childcare qualifications: interim report
Independent report
Early years evidence pack
Research and analysis
More affordable childcare
Policy paper
More great childcare: raising quality and giving parents more choice
Policy paper
Practitioners' experiences of the early years foundation stage
Research and analysis
Review of the Early Years Professional Status standards
Independent report
Supporting families in the foundation years
Policy paper
Teaching and play in the early years: a balancing act?
Research and analysis
Childcare Bill: impact assessment
Impact assessment
Childcare Bill: policy statement
Policy paper
Childcare and early years providers survey 2009
Research and analysis
Childcare and early years providers survey 2010
Research and analysis
Childcare and early years providers survey 2011
Research and analysis
Childcare and early years survey of parents 2009
Research and analysis
Childcare and early years survey of parents 2010
Research and analysis
Qualitative research into families' experiences and behaviours in the childcare affordability pilots 2009
Research and analysis
Children who have early education get higher GCSEs
Press release
Coalition government to reward local authorities for improving children's lives
Press release
Commission calls for views on childcare
Press release
Consultation launched on free early education
Press release
Consultation on proposed changes to the role of the local authority in early education and childcare
Consultation outcome
Consultation on teachers’ standards (early years)
Consultation outcome
Cost of providing childcare review: call for evidence
Closed consultation
Department for Education responds to Graham Allen’s independent review of early intervention
News story
Deputy Prime Minister encourages parents in Oxfordshire to take up offer of free childcare for two-year-olds
Press release
Deputy Prime Minister: more freedom for parents
News story
Deputy Prime Minister's speech on early interventions
Speech
FOI: Early years dataset as at 31 August 2014
Statistical data set
FOI: early years dataset as at 31 March 2015
Statistical data set
Early learning for 2-year-olds: trials
Policy paper
Early years apprenticeship bursary doubled to £3,000
Press release
Elizabeth Truss is interviewed by Nursery World magazine
News story
Elizabeth Truss speaks about 2-year-olds policy and practice
Speech
Elizabeth Truss speaks about childcare reform
Speech
Elizabeth Truss speaks about childcare reform
Speech
Elizabeth Truss speaks about early years teachers
Speech
Elizabeth Truss speaks about how schools can support parents
Speech
Elizabeth Truss speaks at the Policy Exchange on childcare
Speech
Elizabeth Truss speaks to the National Day Nurseries Association
Speech
Elizabeth Truss speech to the Daycare Trust conference
Speech
Evidence to inform the childcare commission
Research and analysis
Exploring the flexibility of the free entitlement to early education: research among parents
Research and analysis
Free childcare extended to working families on low incomes
Press release
Free childcare for disadvantaged 2-year-olds to be guaranteed in law
Press release
Free childcare to be available for toddlers who turn two this month
Press release
Free early education for disadvantaged 2-year-olds: an implementation study for local authorities and providers
Research and analysis
Free early education: government sets out which 2-year-olds will be eligible
Press release
Free pre-school education: Deputy prime minister hails a revolution
Press release
Funding for learning for 2-year-olds: letter from Elizabeth Truss
Correspondence
Government brings forward plans to double free childcare for working families
Press release
Government introduces Bill to help working families with childcare costs
News story
Government is acting to get children ready for school
News story
Government publishes consultation on Tax-Free Childcare delivery model
News story
Government publishes response to consultation on the provision of childcare accounts in Tax-Free Childcare
News story
Government sets out vision to support parents and families
Press release
Government’s response to the Heseltine review into economic growth
Policy paper
Group childcare quality in Sure Start areas and child outcomes
Research and analysis
I CAN's early talk programme: evaluation
Research and analysis
Integrated review at age 2: implementation study
Research and analysis
Legislation to help working families with childcare costs to receive second reading
News story
Listening to children's perspectives: improving the quality of provision in early years settings
Research and analysis
Longitudinal study of early years professional status
Research and analysis
Major milestone for early education
News story
Major reforms to support children and families
Press release
Michael Gove speaks to the London Early Years Foundation about the importance of early years
Speech
Michael Gove to the National Conference of Directors of Children's and Adult Services
Speech
Millions of parents to get help with childcare costs
News story
Minister aims for new culture of social investment in childcare
Press release
Minister hosts celebration to thank early years providers
Press release
Ministerial letter about early years funding for London councils
Correspondence
More affordable childcare
Statement to Parliament
More help with childcare costs for working families announced
News story
New early years framework published
Press release
New funding will help most disadvantaged 3- and 4-year-olds
Press release
New online tool to make finding childcare easier for parents
Press release
Nick Clegg encourages Kent parents to take up free childcare
News story
Nick Clegg hails a revolution in free pre-school education
Press release
Number of 2-year-olds eligible for free childcare to double
Press release
Parents eligible for more than £8,000 in childcare support
Speech
Parents overwhelmingly satisfied with free early education
Press release
Parents to have more choice of high-quality childcare
Press release
Pre-school influences on children and young people’s outcomes
Research and analysis
Press briefing - afternoon 29 January 2013
Press release
Press briefing - morning 18 March 2013
Press release
Press briefing: morning 10 May 2013
Press release
Press briefing: morning 17 May 2013
Press release
Press briefing: morning 22 March 2013
Press release
Press briefing: morning 6 June 2013
Press release
Press briefing: morning 9 May 2013
Press release
Provider influence on the early home learning environment (EHLE): executive summary
Research and analysis
Provider influence on the home learning environment: technical report
Research and analysis
Qualifications are key to high-quality early years education
Press release
Reform of education and childcare from birth to 5 years
Collection
Report notes importance of teaching and learning in pre-school
Press release
Reviewing officers must make more difference to lives of children
News story
Sam Gyimah: childcare - our moral mission
Speech
Sarah Teather and Tim Loughton write to stakeholders about the Children and Families Bill
Correspondence
Sarah Teather article in 'Nursery World' on early education and disadvantaged children
Speech
Sarah Teather article in 'Nursery World' on the Spending Review
Speech
Sarah Teather responds to the UNICEF report on children's wellbeing
News story
Sarah Teather sets out overarching vision for early years services in 'Nursery World'
Speech
Sarah Teather speaks to Respublica about child poverty
Speech
Sarah Teather speaks to the Daycare Trust
Speech
Sarah Teather to Daycare Trust annual conference
Speech
Sarah Teather to the 4Children conference
Speech
Sarah Teather to the Family and Parenting Institute
Speech
Sarah Teather to the Family and Parenting Institute’s conference
Speech
Sarah Teather to the National Children and Adult Services conference
Speech
Schools minister Nick Gibb responds to 'The Guardian' website's claims about cutting one-to-one tuition and Every Child programmes
Government response
Setting research priorities in education and children’s services
News story
Teach First leadership development programme extended to cover early years
Press release
Top providers urged to get ready for two-year-old education offer
Press release
Two-year-old demonstration project in schools: baseline survey
Research and analysis
Two-year-olds in schools: demonstration project and case studies
Research and analysis
Views sought on which 2-year-olds should get free early education
Press release
Written ministerial statement by Edward Timpson on Voluntary and Community Sector Prospectus
Statement to Parliament
Written ministerial statement by Michael Gove on education funding
Statement to Parliament
Written ministerial statement by Michael Gove on schools financial settlement - education spending
Statement to Parliament



<div class="content-wrapper">
  <div class="content-title">


    <h2 class="heading-large"><a href="childminding_v3">Early years settings</a></h2>
<p class="font-medium">Services and guidance for childminding</p>
  </div>
  <div class="content-body">
  <p><a href="#">Find a registered childminder</a>

<p><a href="#">Search Ofsted registered providers and inspection reports</a></p>
<p><a href="#">Show all content for childminding</a></p>
<p class="show-all"><a href="#">See more about childminding</a></p>



  </div>
</div>



</div>
</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
