{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li><a href="early-years-settings_v3">Early years settings</a></li>
      <li>Childminders</li>



    </ol>
  </div>



<div class="sibling-container">

</br></br>

<span class="font-small"><a href="early-years-settings_v3">&#139;	 Back to Early years settings</a></span>

  <h2 class="heading-xlarge">Childminders</h2>

  <div class="preamble">
  <p><span class="font-large">Browse content and services related to childminding</span></p>
  </div>

  <div class="views-block">
    <ul>
      <li class="selected">Guidance</li>
      <li class="deselected"><a href="childminders_v3_detailed">Detailed guidance</a></li>
      <li class="deselected"><a href="childminders_v3_policy">Policy</a></li>
      <li class="deselected"><a href="childminders_v3_publications">All content</a></li>
  </div>

<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Find a childminder</h2></div>
  <div class="content-body">
  <p><a href="#">Find a registered childminder</a>

<p><a href="#">Search Ofsted registered providers and inspection reports</a></p>

  </div>
</div>



<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Employ an Au Pair or childminder</h2></div>
  <div class="content-body">
    <p><a href="#">Employing someone to work in your home</a></p>

  </div>
</div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Complain about a school or childminder</h2></div>
  <div class="content-body">
    <p><a href="#">Complain about a school or childminder</a></p>

  </div>
</div>

<div class="content-wrapper">
  <div class="content-title">
    <h2 class="heading-medium">Set up as a childminder or childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Register as a childminder or childcare provider (England)</a></p>
    <p><a href="#">Register as a childminder (Scotland)</a></p>
    <p><a href="#">Register as a childminder (Wales)</a></p>
    <p><a href="#">Register as a childminder (Northern Ireland)</a></p>

  </div>
</div>

<div class="content-wrapper">
  <div class="content-title">
<h2 class="heading-medium">Being inspected as a childminder or childcare provider</h2></div>
<div class="content-body">
<p><a href="#">Being inspected as a childminder or childcare provider</a></p>

</div>
</div>





</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
