{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li><a href="early-years-settings_v3">Early years settings</a></li>
      <li>Childminders</li>



    </ol>
  </div>



<div class="sibling-container">

</br></br>

<span class="font-small"><a href="early-years-settings_v3">&#139;	 Back to Early years settings</a></span>

  <h2 class="heading-xlarge">Childminders</h2>
  <div class="preamble">
  <p><span class="font-large">Browse content and services related to childminding</span></p>
  </div>


  <div class="views-block">
    <ul>
      <li><a href="childminders_v3">Overview</a></li>
      <li><span class="heading-medium">Detailed guidance</span></li>
      <li><a href="childminders_v3_all">Policy</a></li>
      <li><a href="childminders_v3_publications">Recent publications (3)</a></li>
  </div>

<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Set up as a childminder or childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Childminder agencies: a step-by-step guide</a></p>

<p><a href="#">Types of childcare that don’t need to register with Ofsted</a></p>

<p><a href="#">Childcare providers exempt from registering with Ofsted: form</a></p>

<p><a href="#">Childcare register requirements for childcare providers on non-domestic or domestic premises</a></p>

<p><a href="#">Early years and childcare providers: registration and suitability handbook</a></p>

<p><a href="#">Become a childminder agency</a></p>

<p><a href="#">Become a childcare or children's social care provider: health declaration</a></p>

<p><a href="#">Disclosure and Barring Service (DBS) checks: childcare providers</a></p>

</div>

</div>



<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Being inspected as a childminder or childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Early years inspection handbook from September 2015</a></p>

  <p><a href="#">Changes to education inspection from September 2015</a></p>

  <p><a href="#">Inspecting childminder agencies: framework</a></p>

  <p><a href="#">Inspecting registered childcare providers - guidance for inspectors</a></p>

  <p><a href="#">Inspecting registered childcare providers: framework</a></p>
  </div>
</div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Manage your finances and tax as a childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Working Tax Credit: childcare element WTC5/CP</a></p>
  </div>
</div>



</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
