{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education">Education</a></li>
      <li>Childcare and early years</li>

    </ol>
  </div>


  <h1 class="heading-xlarge"></h1>

  <span class="font-small"><a href="early-years-settings">&#139;	 Back to Early years settings</a></span>


<div class="sibling-container">
  <div class="s-left">


      <h2 class="heading-xlarge">Childminders</h2>

      <div class="preamble">
      <p><span class="font-medium">Find services for childcare, and read guidance, policies and other publications</span></div>




        <div class="search-header">
              <div class="searchfield">
            <input type="search" name="q" value="" id="search-main">
            <button type="submit" class="button">Search</button>
        </div>
          </div>

    </div>


  <div class="s-right">
    <ul>
     <li><a href="early-years-settings">Early years settings</a></li>
        <li><a href="nurseries">Early years foundation stage (EYFS) </a></li>
        <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a></li>
        <li><a href="#">Training for early years staff</a></li>
        <li><a href="nurseries">Inspections </a></li>
        <li><a href="childrenscentres">Early years pupil premium </a></li>
        <li><a href="nurseries">Childcare costs  </a></li>
        <li><a href="childrenscentres">Funding</a></li></div>
</li>
</div>

  <div class="views-block">
    <ul>
      <li class="deselected"><a href="childminders">Guidance</li>
      <li class="deselected"><a href="childminders?section=detailed">Detailed guidance</a></li>
      <li class="selected"><a href="childminders?section=policy">Policy</a></li>
      <li class="deselected"><a href="childminders?section=publications">All content</a></li>
  </div>



<div class="content-wrapper">
  <p class="heading-small pub-subscribe">Follow new policy publications by <a href="#">email</a> or <a href="#">feed</a></p>


  <div class="content-title">





          <div class="govuk-option-select">
          <div class="container-head">
            <label class="option-select-label" for="keywords">
              Search
            </label>
          </div>
          <input class="filter-field-text" type="text" name="q" id="keywords" value="" maxlength="200">
        </div>

            <div class="govuk-option-select">
        <div class="container-head js-container-head">
          <div class="option-select-label">Publication type</div>
        </div>

        <div class="options-container">
          <div class="js-auto-height-inner">


              <label for="free-option">
                <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
                Consultations
              </label>

              <label for="trial-option">
                <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
               Corporate
              </label>

              <label for="free-option">
                <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
                Policy and guidance

              </label>

              <label for="trial-option">
                <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
               Other
              </label>

              <label for="trial-option">
                <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
                Research and statistics
              </label>
          </div>
        </div>
      </div>


  </div>


  <div class="content-body">
    <div class="pub-list">

    <ul>
    <li><a href="#">Childcare and early years providers survey: 2010</a> </br>
    <span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years providers survey: 2011</a> </br>
    <span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years providers survey: 2013</a>
    </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years survey of parents: 2010</a>
      </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years survey of parents: 2011</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years survey of parents: 2012 to 2013</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under 5 years of age in England: January 2010</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under 5 years of age in England: January 2012</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under 5 years of age in England: January 2013</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under 5 years of age: January 2014</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under 5 years of age: January 2015</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Provision for children under five years of age in England: January 2011</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Early education and childcare: research priorities and questions</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">The early years foundation stage (Tickell review): report on the evidence</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">The early years: foundations for life, health and learning - Tickell review</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Nutbrown review: foundations for quality</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Review of early education and childcare qualifications: interim report</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Early years evidence pack</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">More affordable childcare</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">More great childcare: raising quality and giving parents more choice</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Practitioners' experiences of the early years foundation stage</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Review of the Early Years Professional Status standards</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Supporting families in the foundation years</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Teaching and play in the early years: a balancing act?</a><  </br><span class="meta">Statistics</span>/li>
    <li><a href="#">Childcare and early years providers survey 2009</a>  </br><span class="meta">Statistics</span>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years providers survey 2010</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years providers survey 2011</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years survey of parents 2009</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Childcare and early years survey of parents 2010</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Qualitative research into families' experiences and behaviours in the childcare affordability pilots 2009</a></br><span class="meta">Statistics</span></li>
    <li><a href="#">Children who have early education get higher GCSEs</a>  </br><span class="meta">Statistics</span></li>
    <li><a href="#">Coalition government to reward local authorities for improving children's lives</a>  </br><span class="meta">Statistics</span></li>
  </ul>
  </div>
</div>
</div>




</div>
</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
