{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li><a href="early-years-settings_v3">Early years settings</a></li>
      <li>Childminders</li>



    </ol>
  </div>



<div class="sibling-container">

</br></br>

<span class="font-small"><a href="early-years-settings_v3">&#139;	 Back to Early years settings</a></span>

  <h2 class="heading-xlarge">Childminders</h2>
  <div class="preamble">
  <p><span class="font-large">Browse content and services related to childminding</span></p>
  </div>


  <div class="views-block">
    <ul>
      <li><a href="childminders_v3">Guidance and services</a></li>
      <li><a href="childminders_v3_detailed">Detailed guidance</a></li>
      <li><a href="childminders_v3_all">Policy</a></li>
      <li><span class="heading-medium">Recent publications (3)</span></li>
  </div>

<div class="content-wrapper">

  <div class="content-body">
    <p>Set up as a childminder or childcare provider</p>

    <p>Childminder agencies and changes to the local authority role</p>

    <p>Childminder agency trial evaluation</p>

  <p>  Childminder choice has never been better thanks to first agency</p>

    <p>Letter to childminders in England from Elizabeth Truss</p>

    <p>Study of early education and development: childminder provision</p>

    <p>Study of early education and development: views of childminders</p>

  <p>  Ofsted launches consultation on childminder agency inspections</p>

    <p>Opportunities to shine as a childminder</p>

  </div>



</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
