{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>

    </ol>
  </div>


  <h1 class="heading-xlarge"></h1>


<div class="sibling-container">


<span class="font-small"><a href="childcare-and-early-years_v3">&#139;	 Back to Education</a></span>

  <h2 class="heading-xlarge">Childcare and early years</h2>

  <div class="preamble">
  <p><span class="font-large">Find services for childcare, and read guidance, policies and other publications</span>

<!--    <p class="font-medium">Filter content: <a href="childminders_v3">Childminders</a>, <a href="#">Nurseries</a>, <a href="#">Children's centres</a></p>
</p>-->
  </div>


    <div class="sibling-block-top">
      <div class="sibling-block-top-sec">
      <ul>
        <li><a href="early-years-settings_v3">Early years settings</a></li>
        <li><a href="nurseries">Early years foundation stage (EYFS) </a></li>
        <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a></li>
      </ul>
    </div>
        <div class="sibling-block-top-sec">
          <ul>
        <li><a href="#">Training for early years staff</a></li>
        <li><a href="nurseries">Inspections </a></li>
        <li><a href="childrenscentres">Early years pupil premium </a></li>
      </ul>
    </div>
    <div class="sibling-block-top-sec">
      <ul>
        <li><a href="nurseries">Childcare costs  </a></li>
        <li><a href="childrenscentres">Funding</a></li>
      </ul>
    </div>
  </div>


</br></br>

<div class="views-block">
  <ul>
    <li><a href="childcare-and-early-years_v3">Guidance and services</a></li>
    <li><span class="heading-medium">Detailed guidance</span></li>
    <li><a href="childminders_v3_all">Policy</a></li>
    <li><a href="childminders_v3_publications">Recent publications (3)</a></li>
</div>

<div class="content-wrapper">
  <div class="content-title">
    <h2 class="heading-large">Childcare</h2>
</div>
<div class="content-body">
  <ul>
  <li><a href="#">Funded early education choice framework</a></li>
  <li><a href="#">Early years inspection handbook from September 2015</a></li>
  <li><a href="#">Early years compliance handbook</a></li>
  <li><a href="#"><a href="#">Dedicated schools grant (DSG) 2014 to 2015</a></li>
  <li><a href="#">Early education entitlement for 2-year-olds: hourly rates</a></li>
  <li><a href="#">Early years benchmarking tool</a></li>
  <li><a href="#">LA allocations for early learning for 2-year-olds: 2014 to 2015</a></li>
  <li><a href="#">Early education and childcare</a></li>
  <li><a href="#">Early years outcomes</a></li>
  <li><a href="#">Sure Start, childcare and disabled children: capital grants</a></li>
  <li><a href="#">Work with parents: National Occupational Standards</a></li>
  </ul>
</div>
</div>



<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-large"><a href="childminding_v3">Early years settings</a></h2>
<p class="font-medium">Services and guidance for childminding</p>
  </div>
  <div class="content-body">
  <p><a href="#">Find a registered childminder</a>

<p><a href="#">Search Ofsted registered providers and inspection reports</a></p>
<p><a href="#">Show all content for childminding</a></p>
<p class="show-all"><a href="#">See more about childminding</a></p>



  </div>
</div>



</div>
</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
