{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>
    </ol>
  </div>

<h1 class="heading-xlarge">Childcare and early years</h1>

<div class="links-block">
  <ul>
    <li><a href="#">Related link</a></li>
    <li><a href="#">Related link</a></li>
    <li><a href="#">Related link</a></li>

  </ul>
</div>

<h2 class="heading-large">Topics</h2>

<div class="grid-row">

<div class="column-third">
  <ul><a href="childminders-siblings">Early years settings</a></li>
<li><a href="#">Early years foundation stage (EYFS)</a></li>
<li><a href="#">Special educational needs and disabilities (SEND)</a></li>
</ul>
</div>

<div class="column-third">
<ul>
  <li><a href="#">Training for early years staff</a></li>
<li><a href="#">Inspections</a></li>
<li><a href="#">Early years pupil premium</a></li>
</ul>

</div>

<div class="column-third">
<ul>
  <li><a href="#">Childcare costs</a></li>
  <li><a href="#">Funding</a></li>
</ul>

</div>

</div>

<!--

<h2 class="heading-large">Publications and content</h2>

  <form>
    <fieldset class="inline">

      <h2 class="heading-small">Filter by:</h2>

      <legend class="visuallyhidden">Filter by:</legend>

      <label class="block-label" for="waste-type-1">
        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
        All
      </label>

      <label class="block-label" for="waste-type-1">
        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
        Policy
      </label>
      <label class="block-label" for="waste-type-2">
        <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
        Detail
      </label>
      <label class="block-label" for="waste-type-3">
        <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
        Simple
      </label>

    </fieldset>
  </form>


  <div class="grid-row">
  <div class="column-third">



    <div class="govuk-option-select">
    <div class="container-head">
      <label class="option-select-label" for="keywords">
        Search
      </label>
    </div>
    <input class="filter-field-text" type="text" name="q" id="keywords" value="" maxlength="200">
  </div>

      <div class="govuk-option-select">
  <div class="container-head js-container-head">
    <div class="option-select-label">Publication type</div>
  </div>

  <div class="options-container">
    <div class="js-auto-height-inner">


        <label for="free-option">
          <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
          Consultations
        </label>

        <label for="trial-option">
          <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
         Corporate
        </label>

        <label for="free-option">
          <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
          Policy and guidance

        </label>

        <label for="trial-option">
          <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
         Other
        </label>

        <label for="trial-option">
          <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
          Research and statistics
        </label>
    </div>
  </div>
</div>



  <div class="govuk-option-select">
<div class="container-head js-container-head">
<div class="option-select-label">Publication type</div>
</div>

<div class="options-container">
<div class="js-auto-height-inner">


    <label for="free-option">
      <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
      Consultations
    </label>

    <label for="trial-option">
      <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
     Corporate
    </label>

    <label for="free-option">
      <input name="free-option" value="True" id="free-option" type="checkbox" aria-controls="">
      Policy and guidance

    </label>

    <label for="trial-option">
      <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
     Other
    </label>

    <label for="trial-option">
      <input name="trial-option" value="True" id="trial-option" type="checkbox" aria-controls="">
      Research and statistics
    </label>
</div>
</div>




</div>


</div>


  <div class="column-two-thirds">
    <p>
    <ul>
      <li><a href="#">Childcare and early years providers survey: 2010</a></li>
      <li><a href="#">Childcare and early years providers survey: 2011</a></li>
      <li><a href="#">Childcare and early years providers survey: 2013</a></li>
      <li><a href="#">Childcare and early years survey of parents: 2010</a></li>
      <li><a href="#">Childcare and early years survey of parents: 2011</a></li>
      <li><a href="#">Childcare and early years survey of parents: 2012 to 2013</a></li>
      <li><a href="#">Provision for children under 5 years of age in England: January 2010</a></li>
      <li><a href="#">Provision for children under 5 years of age in England: January 2012</a></li>
      <li><a href="#">Provision for children under 5 years of age in England: January 2013</a></li>
      <li><a href="#">Provision for children under 5 years of age: January 2014</a></li>
      <li><a href="#">Provision for children under 5 years of age: January 2015</a></li>
      <li><a href="#">Provision for children under five years of age in England: January 2011</a></li>
      <li><a href="#">Early education and childcare: research priorities and questions</a></li>
      <li><a href="#">The early years foundation stage (Tickell review): report on the evidence</a></li>
      <li><a href="#">The early years: foundations for life, health and learning - Tickell review</a></li>
      <li><a href="#">Nutbrown review: foundations for quality</a></li>
      <li><a href="#">Review of early education and childcare qualifications: interim report</a></li>
      <li><a href="#">Early years evidence pack</a></li>
      <li><a href="#">More affordable childcare</a></li>
      <li><a href="#">More great childcare: raising quality and giving parents more choice</a></li>
      <li><a href="#">Practitioners' experiences of the early years foundation stage</a></li>
      <li><a href="#">Review of the Early Years Professional Status standards</a></li>
      <li><a href="#">Supporting families in the foundation years</a></li>
      <li><a href="#">Funded early education choice framework</a></li>
      <li><a href="#">Early years inspection handbook from September 2015</a></li>
      <li><a href="#">Teaching and play in the early years: a balancing act?</a></li>
      <li><a href="#">Early years compliance handbook</a></li>
      <li><a href="#">Ofsted early years report 2015</a></li>
      <li><a href="#">Childcare Bill: impact assessment</a></li>
      <li><a href="#">Childcare Bill: policy statement</a></li>
      <li><a href="#">Childcare and early years providers survey 2009</a></li>
      <li><a href="#">Childcare and early years providers survey 2010</a></li>
      <li><a href="#">Childcare and early years providers survey 2011</a></li>
      <li><a href="#">Childcare and early years survey of parents 2009</a></li>
      <li><a href="#">Childcare and early years survey of parents 2010</a></li>
      <li><a href="#">Qualitative research into families' experiences and behaviours in the childcare affordability pilots 2009</a></li>
      <li><a href="#">Children who have early education get higher GCSEs</a></li>
      <li><a href="#">Coalition government to reward local authorities for improving children's lives</a></li>
      <li><a href="#">Commission calls for views on childcare</a></li>
      <li><a href="#">Consultation launched on free early education</a></li>
      <li><a href="#">Consultation on proposed changes to the role of the local authority in early education and childcare</a></li>
      <li><a href="#">Consultation on teachers’ standards (early years)</a></li>
      <li><a href="#">Cost of providing childcare review: call for evidence</a></li>
      <li><a href="#">Dedicated schools grant (DSG) 2014 to 2015</a></li>
      <li><a href="#">Department for Education responds to Graham Allen’s independent review of early intervention</a></li>
      <li><a href="#">Deputy Prime Minister encourages parents in Oxfordshire to take up offer of free childcare for two-year-olds</a></li>
      <li><a href="#">Deputy Prime Minister: more freedom for parents</a></li>
      <li><a href="#">Deputy Prime Minister's speech on early interventions</a></li>
      <li><a href="#">Early education entitlement for 2-year-olds: hourly rates</a></li>
      <li><a href="#">FOI: Early years dataset as at 31 August 2014</a></li>
      <li><a href="#">FOI: early years dataset as at 31 March 2015</a></li>
      <li><a href="#">Early learning for 2-year-olds: trials</a></li>
      <li><a href="#">Early years apprenticeship bursary doubled to £3,000</a></li>
      <li><a href="#">Early years benchmarking tool</a></li>
      <li><a href="#">Elizabeth Truss is interviewed by Nursery World magazine</a></li>
      <li><a href="#">Elizabeth Truss speaks about 2-year-olds policy and practice</a></li>
      <li><a href="#">Elizabeth Truss speaks about childcare reform</a></li>
      <li><a href="#">Elizabeth Truss speaks about childcare reform</a></li>
      <li><a href="#">Elizabeth Truss speaks about early years teachers</a></li>
      <li><a href="#">Elizabeth Truss speaks about how schools can support parents</a></li>
      <li><a href="#">Elizabeth Truss speaks at the Policy Exchange on childcare</a></li>
      <li><a href="#">Elizabeth Truss speaks to the National Day Nurseries Association</a></li>
      <li><a href="#">Elizabeth Truss speech to the Daycare Trust conference</a></li>
      <li><a href="#">Evidence to inform the childcare commission</a></li>
      <li><a href="#">Exploring the flexibility of the free entitlement to early education: research among parents</a></li>
      <li><a href="#">Find free early education and childcare</a></li>
      <li><a href="#">Free childcare extended to working families on low incomes</a></li>
      <li><a href="#">Free childcare for disadvantaged 2-year-olds to be guaranteed in law</a></li>
      <li><a href="#">Free childcare to be available for toddlers who turn two this month</a></li>
      <li><a href="#">Free early education for disadvantaged 2-year-olds: an implementation study for local authorities and providers</a></li>
      <li><a href="#">Free early education: government sets out which 2-year-olds will be eligible</a></li>
      <li><a href="#">Free pre-school education: Deputy prime minister hails a revolution</a></li>
      <li><a href="#">Funding for learning for 2-year-olds: letter from Elizabeth Truss</a></li>
      <li><a href="#">Government brings forward plans to double free childcare for working families</a></li>
      <li><a href="#">Government introduces Bill to help working families with childcare costs</a></li>
      <li><a href="#">Government is acting to get children ready for school</a></li>
      <li><a href="#">Government publishes consultation on Tax-Free Childcare delivery model</a></li>
      <li><a href="#">Government publishes response to consultation on the provision of childcare accounts in Tax-Free Childcare</a></li>
      <li><a href="#">Government sets out vision to support parents and families</a></li>
      <li><a href="#">Government’s response to the Heseltine review into economic growth</a></li>
      <li><a href="#">Group childcare quality in Sure Start areas and child outcomes</a></li>
      <li><a href="#">Help paying for childcare</a></li>
      <li><a href="#">I CAN's early talk programme: evaluation</a></li>
      <li><a href="#">Integrated review at age 2: implementation study</a></li>
      <li><a href="#">LA allocations for early learning for 2-year-olds: 2014 to 2015</a></li>
      <li><a href="#">Legislation to help working families with childcare costs to receive second reading</a></li>
      <li><a href="#">Listening to children's perspectives: improving the quality of provision in early years settings</a></li>
      <li><a href="#">Longitudinal study of early years professional status</a></li>
      <li><a href="#">Major milestone for early education</a></li>
      <li><a href="#">Major reforms to support children and families</a></li>
      <li><a href="#">Michael Gove speaks to the London Early Years Foundation about the importance of early years</a></li>
      <li><a href="#">Michael Gove to the National Conference of Directors of Children's and Adult Services</a></li>
      <li><a href="#">Millions of parents to get help with childcare costs</a></li>
      <li><a href="#">Minister aims for new culture of social investment in childcare</a></li>
      <li><a href="#">Minister hosts celebration to thank early years providers</a></li>
      <li><a href="#">Ministerial letter about early years funding for London councils</a></li>
      <li><a href="#">More affordable childcare</a></li>
      <li><a href="#">More help with childcare costs for working families announced</a></li>
      <li><a href="#">New early years framework published</a></li>
      <li><a href="#">New funding will help most disadvantaged 3- and 4-year-olds</a></li>
      <li><a href="#">New online tool to make finding childcare easier for parents</a></li>
      <li><a href="#">Nick Clegg encourages Kent parents to take up free childcare</a></li>
      <li><a href="#">Nick Clegg hails a revolution in free pre-school education</a></li>
      <li><a href="#">Number of 2-year-olds eligible for free childcare to double</a></li>
      <li><a href="#">Parents eligible for more than £8,000 in childcare support</a></li>
      <li><a href="#">Parents overwhelmingly satisfied with free early education</a></li>
      <li><a href="#">Parents to have more choice of high-quality childcare</a></li>
      <li><a href="#">Pay your registration and annual fee to Ofsted</a></li>
      <li><a href="#">Pre-school influences on children and young people’s outcomes</a></li>
      <li><a href="#">Press briefing - afternoon 29 January 2013</a></li>
      <li><a href="#">Press briefing - morning 18 March 2013</a></li>
      <li><a href="#">Press briefing: morning 10 May 2013</a></li>
      <li><a href="#">Press briefing: morning 17 May 2013</a></li>
      <li><a href="#">Press briefing: morning 22 March 2013</a></li>
      <li><a href="#">Press briefing: morning 6 June 2013</a></li>
      <li><a href="#">Press briefing: morning 9 May 2013</a></li>
      <li><a href="#">Provider influence on the early home learning environment (EHLE): executive summary</a></li>
      <li><a href="#">Provider influence on the home learning environment: technical report</a></li>
      <li><a href="#">Qualifications are key to high-quality early years education</a></li>
      <li><a href="#">Reform of education and childcare from birth to 5 years</a></li>
      <li><a href="#">Report notes importance of teaching and learning in pre-school</a></li>
      <li><a href="#">Reviewing officers must make more difference to lives of children</a></li>
      <li><a href="#">Sam Gyimah: childcare - our moral mission</a></li>
      <li><a href="#">Sarah Teather and Tim Loughton write to stakeholders about the Children and Families Bill</a></li>
      <li><a href="#">Sarah Teather article in 'Nursery World' on early education and disadvantaged children</a></li>
      <li><a href="#">Sarah Teather article in 'Nursery World' on the Spending Review</a></li>
      <li><a href="#">Sarah Teather responds to the UNICEF report on children's wellbeing</a></li>
      <li><a href="#">Sarah Teather sets out overarching vision for early years services in 'Nursery World'</a></li>
      <li><a href="#">Sarah Teather speaks to Respublica about child poverty</a></li>
      <li><a href="#">Sarah Teather speaks to the Daycare Trust</a></li>
      <li><a href="#">Sarah Teather to Daycare Trust annual conference</a></li>
      <li><a href="#">Sarah Teather to the 4Children conference</a></li>
      <li><a href="#">Sarah Teather to the Family and Parenting Institute</a></li>
      <li><a href="#">Sarah Teather to the Family and Parenting Institute’s conference</a></li>
      <li><a href="#">Sarah Teather to the National Children and Adult Services conference</a></li>
      <li><a href="#">Schools minister Nick Gibb responds to 'The Guardian' website's claims about cutting one-to-one tuition and Every Child </a><a href="#">programmes</a></li>
      <li><a href="#">Setting research priorities in education and children’s services</a></li>
      <li><a href="#">Teach First leadership development programme extended to cover early years</a></li>
      <li><a href="#">Top providers urged to get ready for two-year-old education offer</a></li>
      <li><a href="#">Two-year-old demonstration project in schools: baseline survey</a></li>
      <li><a href="#">Two-year-olds in schools: demonstration project and case studies</a></li>
      <li><a href="#">Early education and childcare</a></li>
      <li><a href="#">Early years outcomes</a></li>
      <li><a href="#">Sure Start, childcare and disabled children: capital grants</a></li>
      <li><a href="#">Views sought on which 2-year-olds should get free early education</a></li>
      <li><a href="#">Work with parents: National Occupational Standards</a></li>
      <li><a href="#">Written ministerial statement by Edward Timpson on Voluntary and Community Sector Prospectus</a></li>
      <li><a href="#">Written ministerial statement by Michael Gove on education funding</a></li>
      <li><a href="#">Written ministerial statement by Michael Gove on schools financial settlement - education spending</a></li>



      <li><a href="#">Funding</a>
      </li>
    </ul></p>
  </div>

</div>
-->
&nbsp;



</main>

{{/content}}

{{/layout}}
