{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>

    </ol>
  </div>

  <h1 class="heading-xlarge">Childcare and early years</h1>


<div class="sibling-container">

  <div class="sibling-block">
    <ul>
      <li class="active"><a href="early-years-settings">Early years settings</a></li>
      <li><a href="#">Early years foundation stage (EYFS) </a></li>
      <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a></li>
      <li><a href="#">Training for early years staff</a></li>
      <li><a href="nurseries">Inspections </a></li>
      <li><a href="childrenscentres">Early years pupil premium </a></li>
      <li><a href="nurseries">Childcare costs  </a></li>
      <li><a href="childrenscentres">Funding</a></li>

    </ul>
  </div>

  <div class="sibling-block-2">
    <div class="block-title">
    <h2 class="heading-large">Early years settings</h2>
  </div>

    <ul>
    <li class="active"><a href="#">Childminders</a></li>
    <li><a href="#"> Nurseries</a></li>
    <li><a href="#"> Children's centres</a></li>
  </ul>
  </div>

<div class="sibling-content">

<h2 class="heading-large">Childminders</h2>

<div class="services-list">
  <ul>
    <li><a href="#">Employ an Au Pair or childminder</a></li>
    <li><a href="service-page">Find a childminder</a></li>
    <li><a href="#">Complain about a school or childminder</a></li>
    <li><a href="#">Set up as a childminder or childcare provider</a></li>
  </ul>
</div>


<h2 class="heading-medium">Top publications</h2>
<p><a href="#">Show all publications</a></p>
<div class="topic-list">
<ul>
  <li><a href="#">Boost for childminders and hardworking families</a>
  <li><a href="#">Childminder agencies and changes to the local authority role</a></li>
  <li><a href="#">Childminder agency trial evaluation</a></li>
  <li><a href="#">Childminder choice has never been better thanks to first agency</a></li>

</ul>

</div>

</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
