{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li>Early years settings</li>


    </ol>
  </div>



<div class="sibling-container">

<h2 class="heading-xlarge"><span class="text-secondary font-large">Childcare and early years </span></br>Early years settings</h2>

    <div class="sibling-block-top-sec-2">
      <ul>
        <li><a ref="childminders">Childminders</a></li>
      <li><a href="#">Nurseries</a></li>
      <li><a href="#">Children's centres</a></li>
    </ul>
</div>

<div class="sibling-content-4">
<div class="services-list">
  <h2 class="heading-large">Popular services</h2>
  <p>More content goes here</p>

  <!--

<ul>
  <li><a href="service-page">Find a childminder</a></li>
  <li><a href="#">Employ an Au Pair or childminder</a></li>
  <li><a href="#">Complain about a school or childminder</a></li>
  <li><a href="#">Set up as a childminder or childcare provider</a></li>
</ul>
</div>

<h2 class="heading-large">Popular publications</h2>
<p><a href="publications">Show all publications</a></p>
<div class="topic-list">
<ul>
  <li><a href="#">Boost for childminders and hardworking families</a>
  <li><a href="#">Childminder agencies and changes to the local authority role</a></li>
  <li><a href="#">Childminder agency trial evaluation</a></li>
  <li><a href="#">Childminder choice has never been better thanks to first agency</a></li>

</ul>
-->
</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
