{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>

    </ol>
  </div>


  <h1 class="heading-xlarge"></h1>
  
  <span class="font-small"><a href="early-years-settings_v3">&#139;	 Back to Early years settings</a></span>


<div class="sibling-container">
  <div class="s-left">


      <h2 class="heading-xlarge">Childminders</h2>

      <div class="preamble">
      <p><span class="font-medium">Find services for childcare, and read guidance, policies and other publications</span></div>




        <div class="search-header">
              <div class="searchfield">
            <input type="search" name="q" value="" id="search-main">
            <button type="submit" class="button">Search</button>
        </div>
          </div>

    </div>


  <div class="s-right">
    <ul>
     <li><a href="early-years-settings">Early years settings</a></li>
        <li><a href="nurseries">Early years foundation stage (EYFS) </a></li>
        <li><a href="childrenscentres">Special educational needs and disabilities (SEND) </a></li>
        <li><a href="#">Training for early years staff</a></li>
        <li><a href="nurseries">Inspections </a></li>
        <li><a href="childrenscentres">Early years pupil premium </a></li>
        <li><a href="nurseries">Childcare costs  </a></li>
        <li><a href="childrenscentres">Funding</a></li></div>
</li>
</div>


  <div class="views-block">
    <ul>
      <li class="deselected"><a href="childminders_v3">Guidance</a></li>
      <li class="selected"><a href="childminders_v3_detailed">Detailed guidance</a></li>
      <li class="deselected"><a href="childminders_v3_policy">Policy</a></li>
      <li class="deselected"><a href="childminders_v3_publications">All content</a></li>
  </div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Set up as a childminder or childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Childminder agencies: a step-by-step guide</a></p>

<p><a href="#">Types of childcare that don’t need to register with Ofsted</a></p>

<p><a href="#">Childcare providers exempt from registering with Ofsted: form</a></p>

<p><a href="#">Childcare register requirements for childcare providers on non-domestic or domestic premises</a></p>

<p><a href="#">Early years and childcare providers: registration and suitability handbook</a></p>

<p><a href="#">Become a childminder agency</a></p>

<p><a href="#">Become a childcare or children's social care provider: health declaration</a></p>

<p><a href="#">Disclosure and Barring Service (DBS) checks: childcare providers</a></p>

</div>

</div>



<div class="content-wrapper">

  <div class="content-title">

    <h2 class="heading-medium">Being inspected as a childminder or childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Early years inspection handbook from September 2015</a></p>

  <p><a href="#">Changes to education inspection from September 2015</a></p>

  <p><a href="#">Inspecting childminder agencies: framework</a></p>

  <p><a href="#">Inspecting registered childcare providers - guidance for inspectors</a></p>

  <p><a href="#">Inspecting registered childcare providers: framework</a></p>
  </div>
</div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-medium">Manage your finances and tax as a childcare provider</h2></div>
  <div class="content-body">
    <p><a href="#">Working Tax Credit: childcare element WTC5/CP</a></p>
  </div>
</div>



</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
