{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li>Early years settings</li>


    </ol>
  </div>



<div class="sibling-container">
</br></br>
<span class="font-small"><a href="#">&#139;	 Back to Childcare and early years</a></span>
<h2 class="heading-xlarge">Early years settings</h2>

    <div class="sibling-block-top-sec-2">
      <ul>
        <li><a href="childminders_v3">Childminders</a></li>
      <li><a href="#">Nurseries</a></li>
      <li><a href="#">Children's centres</a></li>
    </ul>
</div>

<div class="sibling-content-4">

<div class="services-list">
  <div class="flag-services">
  <p><span class="font-medium">Popular services across Early Years Settings include:</br> <a href="#">find a childminder</a>,
    <a href="#">employ an au pair or childminder</a>, <a href="#">complain about a school or childminder</a>, and <a href="#">set up as a childminder or childcare provider</a>.
</div>
   <!--
  <h2 class="heading-large">Popular services</h2>


<ul>
  <li><a href="service-page">Find a childminder</a></li>
  <li><a href="#">Employ an Au Pair or childminder</a></li>
  <li><a href="#">Complain about a school or childminder</a></li>
  <li><a href="#">Set up as a childminder or childcare provider</a></li>
</ul>
-->
</div>
<h2 class="heading-medium">Popular publications across Early Years Settings</h2>
<p><a href="publications">Show all publications</a></p>
<div class="topic-list">
<ul>
  <li><a href="#">Boost for childminders and hardworking families</a>
  <li><a href="#">Childminder agencies and changes to the local authority role</a></li>
  <li><a href="#">Childminder agency trial evaluation</a></li>
  <li><a href="#">Childminder choice has never been better thanks to first agency</a></li>

</ul>
</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
