{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
      <li><a href="early-years-settings_v3">Early years settings</a></li>
      <li>Childminders</li>



    </ol>
  </div>



<div class="sibling-container">

</br></br>

<span class="font-small"><a href="childcare-and-early-years_v3">&#139;	 Back to Childcare and early years settings</a></span>

  <h2 class="heading-xlarge">Early years settings</h2>

  <div class="preamble">
  <p><span class="font-large">Browse content and services related to early years settings</span>

<!--    <p class="font-medium">Filter content: <a href="childminders_v3">Childminders</a>, <a href="#">Nurseries</a>, <a href="#">Children's centres</a></p>
</p>-->
  </div>

</br></br>
<div class="views-block">
  <ul>
    <li><span class="heading-medium">Popular content</span></li>
    <li><a href="#">Policy papers</a></li>
    <li><a href="#">Recent publications (12)</a></li>
</div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-large">Childminding</h2>
<p>Services and guidance for childminding. </p>
  </div>
  <div class="content-body">
  <p><a href="#">Find a registered childminder</a>

<p><a href="#">Search Ofsted registered providers and inspection reports</a></p>
<p><a href="#">Show all content for childminding</a></p>


  </div>
</div>



<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-large">Nurseries</h2>
    <p>Services and guidance for nurseries. </p>
  </div>
  <div class="content-body">
    <p><a href="#">Find a nursery</a></p>
    <p><a href="#">Show all content for nurseries</a></p>


  </div>
</div>


<div class="content-wrapper">
  <div class="content-title">

    <h2 class="heading-large">Children's centres</h2>
    <p>Services and guidance for nurseries. </p>
  </div>
  <div class="content-body">
    <p><a href="#">Complain about a school or childminder</a></p>
    <p><a href="#">Show all content for children's centres</a></p>

  </div>
</div>





</div>
</div>
</div>
</div>

</main>

{{/content}}

{{/layout}}
