{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Education</a></li>

    </ol>
  </div>  <div class="head-container">
<h1 class="heading-xlarge">Education</h1>

<div class="in-manual-search">
      <form action="/search">
        <label for="search-box">Search topics</label></br>
        <input type="hidden" name="filter_manual[]" value="/guidance/content-design">
        <input id="search-box" type="text" name="q">
        <button type="submit">search</button>
      </form>
    </div></div>

<h2 class="heading-large">Topics</h2>

<div class="topic-list">
<ul>
  <li><a href="#">Further education</a></li>
  <li><a href="#">Schools</a></li>
  <li><a href="childcare-and-early-years">Childcare and early years</a></li>
  <li><a href="#">Special educational needs and disabilities (SEND)</a></li>
  <li><a href="#">Training for early years staff</a></li>
  <li><a href="#">Inspections</a></li>
  <li><a href="#">Early years pupil premium</a></li>
  <li><a href="#">Childcare costs</a></li>
  <li><a href="#">Funding</a></li>
</ul>
</div>

</main>

{{/content}}

{{/layout}}
