{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education">Education</a></li>
      <li>Childcare and early years</li>
    </ol>
  </div>

  <h1 class="heading-xlarge"></h1>

  <div class="sibling-container">
    <div class="s-left">
      <h2 class="heading-xlarge">Education</h2>

      <div class="preamble">
        <p><span class="font-large">Guidance and services for education</span>
      </div>

      <div class="search-header">
        <div class="searchfield">
          <input type="search" name="q" value="" id="search-main">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
    </div>

    <div class="s-right">
      <ul>
        <li><a href="#">Further education</a></li>
        <li><a href="#">Schools</a></li>
        <li><a href="childcare-and-early-years">Childcare and early years</a></li>
        <li><a href="#">Special educational needs and disabilities (SEND)</a></li>
        <li><a href="#">Training for early years staff</a></li>
        <li><a href="#">Inspections</a></li>
        <li><a href="#">Early years pupil premium</a></li>
        <li><a href="#">Childcare costs</a></li>
        <li><a href="#">Funding</a></li>
      </ul>
    </div>

    <div class="views-block">
      <ul>
        <li class="selected">Guidance</li>
        <li class="deselected"><a href="#">Detailed guidance</a></li>
        <li class="deselected"><a href="#">Policy</a></li>
        <li class="deselected"><a href="#">All content</a></li>
      </ul>
    </div>

    <div class="content-wrapper feature">
      {{#taggedItems}}
        <p><a href="https://www.gov.uk{{base_path}}">{{title}}</a></p>
      {{/taggedItems}}
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Further education</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Schools</a></h2>
      </div>
      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="childcare-and-early-years">Childcare and early years</a></h2>
      </div>
      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Special educational needs and disabilities (SEND)</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">

      <h2 class="heading-medium"><a href="#">Training for early years staff</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">

        <h2 class="heading-medium"><a href="#">Inspections</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Early years pupil premium</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Childcare costs</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-title">
        <h2 class="heading-medium"><a href="#">Funding</a></h2>
      </div>

      <div class="content-body">
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p><a href="#">Subtopic</a></p>
        <p class="show-all"><a href="#">View more</a></p>
      </div>
    </div>
  </div>
</main>

{{/content}}

{{/layout}}
