{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Education</a></li>

    </ol>
  </div>

  <div class="head-container">
<h1 class="heading-xlarge">Education </br><span class="heading-large"> 16,340 <span class="font-medium">things tagged</span>
</h1>

  <div class="search">
        <form action="/search">
          <span class="heading-large"></span></br>
          <input type="hidden" name="filter_manual[]" value="/guidance/content-design">
          <input id="search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>

      <div class="grid-row">

          <div class="column-third">
            <div class="topic-list-b">
              <p><span class="heading-large">Popular<span></p>

          </div>
        </div>

          <div class="column-third">
            <div class="topic-list-b">

              <ul class="topic-list-b">
              <li><a href="#">Further education</a></li>
              <li><a href="#">Schools</a></li>
              <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
            </ul>
          </div>
        </div>

          <div class="column-third">
            <div class="topic-list-b">
              <ul class="topic-list-b">

                  <li><a href="#">Funding</a></li>
                  <li><a href="#">Training for early years staff</a></li>
                  <li><a href="#">Special educational needs and disabilities (SEND)</a></li>

            </ul>
          </div>
        </div>

        </div>






  </div>

  </div>






<h2 class="heading-large">Browse more topics</h2>

<div class="grid-row">

    <div class="column-third">
      <div class="topic-list">
      <ul class="topic-list">
      <li><a href="#">Further education</a></li>
      <li><a href="#">Schools</a></li>
      <li><a href="childcare-and-early-years_v3">Childcare and early years</a></li>
    </ul>
    </div>
  </div>

    <div class="column-third">
      <div class="topic-list">

      <ul class="topic-list">
      <li><a href="#">Special educational needs and disabilities (SEND)</a></li>
      <li><a href="#">Training for early years staff</a></li>
      <li><a href="#">Inspections</a></li>
    </ul>
    </div>
  </div>

    <div class="column-third">
      <div class="topic-list">
      <ul class="topic-list">
      <li><a href="#">Early years pupil premium</a></li>
      <li><a href="#">Childcare costs</a></li>
      <li><a href="#">Funding</a></li>
    </ul>
    </div>
  </div>

  </div>



</div>

</main>

{{/content}}

{{/layout}}
