{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Finding things</h1>
  <h2 class="heading-large">Navigation prototype</h2>

<div class="index-list">
  <ul>
    <li>Level 1 – Home &nbsp; <a href="education-home">Education</a></li>
    <li>Level 2 – Subtopics&nbsp; <a href="childcare-and-early-years">Childcare and early years</a></li>
    <li>Level 3 – Subtopic and siblings&nbsp; <a href="childminders">Childminders</a></li>
  </ul>
</div>
</main>

{{/content}}

{{/layout}}
