{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Finding things</h1>
  <h2 class="heading-large">Navigation prototype</h2>

<div class="index-list">
<h2 class="heading-large">26 January 2016</h2>
<ol class="list-number">
  <li><span class="heading-medium">Level 1 - Education home&nbsp; <a href="education">Education</a></span></li>
  <li><span class="heading-medium">Level 2 - Childcare and early years</span></li>
    <ul class="list-bullet">
        <li><a href="childcare-and-early-years">Guidance</a></li>
        <li><a href="childcare-and-early-years?section=detailed">Detailed guidance</a></li>
        <li><a href="childcare-and-early-years?section=policy">Policy</a></li>
        <li><a href="childcare-and-early-years?section=publications">All publications</a></li>
      </ul>
  <li><span class="heading-medium">Level 3 - Early years settings</span></li>
  <ul class="list-bullet">
      <li><a href="early-years-settings">Guidance</a></li>
      <li>Detailed guidance</li>
      <li>Policy</li>
      <li>All publications</li>
    </ul>
  <li><span class="heading-medium">Level 4 - Childminders topic</span></li>
  <ul class="list-bullet">
      <li><a href="childminders">Guidance</a></li>
      <li><a href="childminders?section=detailed">Detailed guidance</li>
      <li><a href="childminders?section=policy">Policy</li>
      <li><a href="childminders?section=publications">All publications</a></li>
    </ul>
  <li><span class="heading-medium">Level 1 - Driving home&nbsp; <a href="driving-and-vehicles">Driving</a></span></li>
</ol>


  <h2 class="heading-large">Other pages</h2>
  <ol class="list-number">
  <li>
  <a href="publications">Publications</a></li>
  </ol>

  <h2 class="heading-large">Archive</h2>
  <p>Mainstream browse pattern</p>
  <ol class="list-number">
    <li>Home &nbsp; <a href="education">Education</a></li>
    <li>Version 1: Mainstream Browse: Childcare and early years&nbsp; <a href="childcare-and-early-years">Childcare and early years</a></li>
    <li>Version 2: RHS links: Childcare and early years&nbsp; <a href="childcare-and-early-years_v2">Childcare and early years</a></li>

    <li>Early years settings&nbsp; <a href="early-years-settings">Early years settings</a></li>
    <li>Childminders&nbsp; <a href="childminders">Find a childminder</a></li>
  </ol>

</div>
</main>

{{/content}}

{{/layout}}
