{{<layout}}

{{$pageTitle}}Education{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Finding things</h1>
  <h2 class="heading-large">Service-centred navigation</h2>

<div class="index-list">


<h2 class="heading-large">14 January 2016</h2>
<p>Top links prototype</p>
<ol class="list-number">
  <li>Level 1 - Education topic home&nbsp; <a href="education-home">Education</a></li>
  <li>Level 2 - Childcare and early years&nbsp; <a href="childcare-and-early-years_v3">Childcare and early years</a></li>
  <li>Level 3 - Early years settings&nbsp; <a href="early-years-settings_v3">Early years settings</a></li>
  <li>Level 4 - Childminders topic &nbsp; <a href="childminders_v3">Childminders</a></li>
</ol>


  <h2 class="heading-large">Other pages</h2>
  <ol class="list-number">
  <li>
  <a href="publications">Publications</a></li>
  </ol>

  <h2 class="heading-large">Archive</h2>
  <p>Mainstream browse pattern</p>
  <ol class="list-number">
    <li>Home &nbsp; <a href="education-home">Education</a></li>
    <li>Version 1: Mainstream Browse: Childcare and early years&nbsp; <a href="childcare-and-early-years">Childcare and early years</a></li>
    <li>Version 2: RHS links: Childcare and early years&nbsp; <a href="childcare-and-early-years_v2">Childcare and early years</a></li>

    <li>Early years settings&nbsp; <a href="early-years-settings">Early years settings</a></li>
    <li>Childminders&nbsp; <a href="childminders">Find a childminder</a></li>
  </ol>





</div>
</main>

{{/content}}

{{/layout}}
