{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <h1 class="heading-xlarge"></h1>

  <p class="heading-medium"><a href="childcare-and-early-years">&larr;Back to Childcare and Early Years</a></p>

      <h2 class="heading-xlarge">Find a registered childminder</h2>

      <p>Contact your local council to find out about:</p>

      <ul class="list-bullet">
      <li>registered childminders in your area</li>
      <li>becoming a childcare provider or childminder</li>
      <li>early years education and family support</li>
      </ul>

</main>

{{/content}}

{{/layout}}
