{{<layout}}

{{$pageTitle}}Childcare and early years{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="education-home">Education</a></li>
      <li>Childcare and early years</li>
    </ol>
  </div>

<h1 class="heading-xlarge">Find a childminder</h1>

<div class="links-block">
  <ul>
    <li><a href="#">Related link</a></li>
    <li><a href="#">Related link</a></li>
    <li><a href="#">Related link</a></li>
  </ul>
</div>

<h2 class="heading-medium">Search directories in your area</h2>

<p><a href="#">Find a registered childminder</a></p>

<h2 class="heading-medium">Check Ofsted reports for care quality</h2>

<p><a href="#">Search Ofsted registered providers and inspection reports</a></p>


</main>

{{/content}}

{{/layout}}
